.login-root {
  width: 100%;
  min-height: 100vh;
  background: #7400FF;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    width: 430px;
    background: #FFFFFF url(../../assets/main_logo.png) 50% 50px no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 120px 30px 48px;

    button {
      width: 280px;
      margin: 32px auto 0;
    }
  }

  &__date-mask {
    margin-top: 16px;
    width: 100%;

    p {
      margin: 0 0 10px;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.00938em;
      color: #1A051D;
      text-transform: uppercase;
      font-weight: bold;
    }

    .custom-input {
      font-size: 15px;
      width: 100%;
      height: 56px;
      background: #FFFFFF;
      border: 1px solid #DADCE5;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 12px 20px;
      outline: none;

      &.--green {
        border-color: #24AF47;
      }

      &:hover {
        border-color: #7400FF;
      }
    }



  }

  .error-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FA445C;
    margin-left: 10px;
  }

}