.landing {

  &__top-info {
    height: 800px;
    background: #7400FF url(../../assets/promo-bottom-bg.png) 50% 0 no-repeat;
    background-size: contain;
  }

  header {
    display: flex;
    align-items: center;
    padding: 30px 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;

    .mobile-menu-phone {
      font-size: 11px;
      color: #ffffff;
      margin-left: 38%;
      font-weight: bold;
    }
  }

  .header-container {
    max-width: 1366px;
    margin: 0 auto;
  }

  &__header-navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
  }

  &__header-navi-mobile {
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
  }

  &__header-menu-icon {
    cursor: pointer;
  }

  &__header-logo-root {
    width: 20%;
  }

  &__mobile-navs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__mobile-navs {
    span {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      margin-bottom: 15px;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 3px;
        left: 0;
      }
    }
  }

  &__mobile-application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    span {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }

    position: relative;
    z-index: 150;

    .mobile-header-socials {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

    }

    button {
      background: #FFFFFF;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 100px;
      outline: none;
      padding: 10px 18px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #33105E;
      cursor: pointer;
      margin: 20px auto;
    }
  }

  &__header-navs {

    span {
      margin-right: 50px;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }

      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: -2px;
        left: 0;
      }
    }
  }

  &__header-application {
    display: flex;
    align-items: center;

    .header-socials {
      img {
        width: 24px !important;
        height: 24px !important;
      }

      a {
        width: 24px !important;
        height: 24px !important;
        margin-right: 15px;
      }

      margin-right: 15px;
    }


    @media screen and (max-width: 1120px) {
      .header-socials {
        display: none;
      }
    }

    span {
      margin-right: 30px;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }

    position: relative;
    z-index: 150;

    button {
      background: #FFFFFF;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 100px;
      outline: none;
      padding: 10px 18px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: #33105E;
      cursor: pointer;
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1090px) {
    &__header-application {
      span {
        display: block;
        margin-bottom: 5px;
      }
    }

  }

  &__promo {
    display: flex;
    position: relative;
    height: 88.3%;

    &:after {
      content: "";
      background: url(../../assets/circle.png) 100% 50% no-repeat;
      width: 50%;
      height: 800px;
      position: absolute;
      top: -9%;
      right: 0;
    }
  }

  &__promo-text-root {
    width: 50%;
    padding-top: 140px;

    h1 {
      font-weight: 900;
      font-size: 54px;
      line-height: 100%;
      text-transform: uppercase;
      color: #FCD816;
      margin: 0;
    }

    h2 {
      font-style: normal;
      font-weight: 800;
      font-size: 33px;
      line-height: 120%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 20px 0 0;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100px;
        height: 4px;
        left: 0;
        bottom: -30px;
        background: #FFFFFF;
        border-radius: 5px;
      }
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      color: #FFFFFF;
      margin: 64px 0 0;
      max-width: 77%;
    }
  }

  &__promo-bloggers {
    position: relative;
    width: 45%;
    z-index: 10;
  }

  &__promo-image-1 {
    position: absolute;
    border-radius: 50%;
    left: 16%;
    top: 8%;
    background-size: contain;
    width: 240px;
    height: 240px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-image-2 {
    position: absolute;
    border-radius: 50%;
    left: 2%;
    bottom: 15%;
    background-size: contain;
    width: 180px;
    height: 180px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      right: 0px;
      top: 1px;
      background-size: cover;
    }
  }

  &__promo-image-3 {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    bottom: 7%;
    background-size: contain;
    width: 110px;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      background-size: cover;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-image-4 {
    position: absolute;
    border-radius: 50%;
    right: 1%;
    top: 37%;
    background-size: contain;
    width: 170px;
    height: 170px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      background-size: cover;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-image-5 {
    position: absolute;
    border-radius: 50%;
    right: -20%;
    top: 6%;
    background-size: contain;
    width: 140px;
    height: 140px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      background-size: cover;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-image-6 {
    position: absolute;
    border-radius: 50%;
    right: -26%;
    bottom: 42%;
    background-size: contain;
    width: 70px;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      background-size: cover;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-image-7 {
    position: absolute;
    border-radius: 50%;
    right: -14%;
    bottom: 16%;
    background-size: contain;
    width: 85px;
    height: 85px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &:before {
      content: "";
      width: 32px;
      height: 32px;
      position: absolute;
      background: url(../../assets/instagram_icon.png) 50% 50% no-repeat;
      background-size: cover;
      left: -3px;
      top: 1px;
    }
  }

  &__promo-application-btns {
    margin-top: 70px;
    width: 90%;
  }

  &__promo-application-btn {
    border: none;
    outline: none;
    background: #D600FF url(../../assets/clipboard.png) 35px 47% no-repeat;
    box-shadow: 0 0 40px #D600FF;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 1;
    padding: 24px 32px 24px 66px;
    cursor: pointer;
    margin-right: 40px;
  }

  &__promo-application-instruction {
    background: transparent url(../../assets/play.png) 0 50% no-repeat;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding-left: 50px;
    height: 40px;
    cursor: pointer;

    &:before {
      content: "";
      width: 75%;
      height: 1px;
      background: #FFFFFF;
      position: absolute;
      bottom: 11px;
    }
  }


  @media screen and (max-width: 1350px) {

    &__promo-application-btn {
      margin-bottom: 20px;
    }
    &__promo-application-instruction {
      margin-left: 15px;
    }
    &__promo-application-btns {
      margin-top: 40px;
    }

  }

  &__applications {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    position: relative;

    &:before {
      content: "";
      background: url(../../assets/applic-item_1.png) 50% 50% no-repeat;
      width: 147px;
      height: 365px;
      position: absolute;
      left: 30px;
      top: 60px;
    }

    &:after {
      content: "";
      background: url(../../assets/applic_item_2.png) 50% 50% no-repeat;
      width: 147px;
      height: 365px;
      position: absolute;
      right: 30px;
      top: 60px;
    }

    @media screen and (max-width: 450px) {
      &:after {
        right: -15px;
        top: 60px;
      }
      &:before {
        left: 4px;
        top: 56%;
      }
    }
  }

  &__applications-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  &__applications-item {
    width: 430px;
    margin: 35px 35px 0;
    background: #FFFFFF;
    box-shadow: 0 26px 40px rgba(116, 0, 255, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 47px;
    padding-top: 21px;
    position: relative;
    z-index: 10;

    h5 {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #110421;
      margin: 21px 0 0;
    }

    p {
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #110421;
      opacity: 0.6;
      margin: 20px 0 0;
      width: 95%;
    }

    button {
      background: #D600FF;
      border: 3px solid #D600FF;
      box-sizing: border-box;
      border-radius: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 16px 40px;
      margin-top: 30px;
      cursor: pointer;
      outline: none;

      &:hover {
        background: rgba(214, 0, 255, 0.8);
      }
    }
  }

  &__applications-item-image-root {
    width: 240px;
    height: 190px;
    margin: 0 auto;
  }

  &__applications-item-image {
    width: 100%;
    height: 100%;
  }

  &__our-bloggers {
    margin-top: 60px;
    margin-bottom: 60px !important;

    h2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      text-transform: uppercase;
      color: #110421;
      margin: 0;
    }

    .card-right-arrow {
      transform: rotate(180deg);
    }

    .kaHnvc,
    .sc-ifAKCX {
      background: rgba(255, 255, 255, 0.8);

      svg {
        width: 50px !important;
        height: 50px !important;
      }
    }

    .kaHnvc {
      left: 0;
    }

    .sc-ifAKCX {
      right: 0;
    }

    .geRExE {
      width: 100px;
    }

    .MuiButtonBase-root {
      background: #110421;
      border-radius: 100px;
      padding: 20px 70px;
      display: table;
      margin: 0 auto;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .MuiButton-contained:hover {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      background: #110421b3;
    }
  }

  &__our-bloggers-cards {
    margin-top: 40px;
    padding-bottom: 50px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

    .grBOFc {
      justify-content: center;
    }

    .sc-bxivhb {
      margin: 15px 10px;
    }
  }

  &__our-bloggers-card {
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    h6 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #110421;
      margin: 20px 0 0;
      height: 40px;
    }
  }

  &__our-bloggers-card-direction {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #110421;
    opacity: 0.5;
    margin: 6px 0 0;
  }

  &__our-bloggers-card-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
  }

  &__our-bloggers-card-socials {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(51, 16, 94, 0.1);
    padding-top: 24px;
    margin-top: 20px;
    justify-content: center;
  }

  &__our-bloggers-card-social {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;

    img {
      width: 28px;
      height: 28px;
      margin: 0 auto;
    }
  }

  &__our-bloggers-card-social-count-subs {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #110421;
    margin: 14px 0 0;
  }

  &__our-bloggers-card-social-subscriptions {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(17, 4, 33, 0.3);
    margin: 0;
  }

  // partners
  &__partners {
    margin-top: 60px !important;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    background-color: #FFFFFF;
    box-shadow: 0 26px 40px rgba(116, 0, 255, 0.05);
    border-radius: 20px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(../../assets/partners_bg_1.png), url(../../assets/partners_bg_2.png);
    background-position: left 32px top, right 32px top;
    background-repeat: no-repeat, no-repeat;
    position: relative;

    &:after {
      content: "";
      background: url(../../assets/partners_bg_3.png) 50% 50% no-repeat;
      width: 147px;
      height: 364px;
      position: absolute;
      right: 16%;
      top: 0;
    }

    &:before {
      content: "";
      background: url(../../assets/partners_bg_4.png) 50% 50% no-repeat;
      width: 147px;
      height: 364px;
      position: absolute;
      left: 16%;
      top: 0;
    }

    h3 {
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      text-transform: uppercase;
      color: #7400FF;
      margin: 0;
    }

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #110421;
      margin: 12px 0 0;
      max-width: 430px;
    }
  }

  &__partners-items {
    max-width: 1366px;
    position: relative;
    z-index: 100;
    padding-bottom: 30px;

    .sc-bxivhb {
      width: 170px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px 20px;
    }


    .react-multi-carousel-track {
      padding: 25px 0 !important;
    }

    .react-multi-carousel-dot-list {
      bottom: -24px;
    }
  }

  .carousel-container {
    padding: 30px 0;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1300px;

  }

  &__partners-item {
    max-width: 170px;
    min-width: 120px;
    height: 100%;
    padding: 12px 10px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);

    img {
      max-width: 105px;
      max-height: 60px;
      margin: auto;
    }

    margin: 0 20px;
  }

  .react-multi-carousel-item {
    background: transparent;
  }

  &__partners-items-navigation {
    .react-multi-carousel-dot button {
      border: 2px solid rgba(116, 0, 255, 0.1) !important;
      background: transparent;
    }

    .react-multi-carousel-dot--active button {
      background: #7400FF;
    }
  }

  &__faq-root {
    padding-bottom: 139px;
  }

  &__faq {
    max-width: 734px;
    background: #FFFFFF;
    box-shadow: 0 26px 40px rgba(116, 0, 255, 0.05);
    border-radius: 20px;
    margin: 60px auto 0;
    box-sizing: border-box;
    padding: 59px 70px 47px 95px;
    position: relative;
    z-index: 100;

    &:before {
      content: "";
      background: url(../../assets/faq_left.png) 50% 50%;
      position: absolute;
      left: -106px;
      bottom: 49px;
      width: 320px;
      height: 308px;
    }

    &:after {
      content: "";
      background: url(../../assets/faq_right.png) 50% 50%;
      position: absolute;
      right: -132px;
      top: 77px;
      z-index: -1;
      width: 347px;
      height: 308px;
    }

    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      color: #110421;
    }

    .MuiPaper-elevation1 {
      box-shadow: none;
    }

    .MuiExpansionPanel-root:before {
      background-color: transparent;
    }

    .MuiExpansionPanelSummary-root {
      padding: 0;
      min-height: 0;
    }

    .MuiExpansionPanelSummary-content {
      margin: 0;
    }

    .MuiExpansionPanelDetails-root {
      padding: 8px 0 0;
    }

    .MuiExpansionPanelSummary-root.Mui-expanded {
      min-height: 0;
    }

    .MuiExpansionPanelSummary-content.Mui-expanded,
    .MuiExpansionPanel-root.Mui-expanded {
      margin: 0;
    }

    button {
      background: #D600FF;
      border: 3px solid #D600FF;
      box-sizing: border-box;
      border-radius: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 16px 40px;
      margin-top: 30px;
      cursor: pointer;
      outline: none;
      margin-left: auto;
      margin-right: auto;
      display: table;

      &:hover {
        background: rgba(214, 0, 255, 0.8);
      }
    }
  }

  // expansion panels
  &__expansion {
    border: 1px dashed #3DD5FF;
    box-sizing: border-box;
    border-radius: 12px !important;
    padding: 16px 20px 16px 64px;
    margin: 3px auto;

    &:hover {
      background: rgba(0, 153, 255, 0.05);
      border: 1px solid #3DD5FF;
      cursor: pointer;
    }

    .Mui-expanded {
      position: relative;

      &:after {
        content: "";
        background: url(../../assets/minus.png) 50% 50% no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        left: -44px;
        top: -1px;
      }
    }

    .Mui-expanded {
      p {
        color: #110421;
      }
    }
  }

  &__expansion.Mui-expanded {
    border: 1px solid #D600FF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }

  &__faq-panels {
    margin: 30px 0;
  }

  &__expansion-title {
    font-size: 16px;
    line-height: 24px;
    color: #0099FF;
    margin: 0;
    position: relative;
    font-weight: 500;
    max-width: 80%;

    &:after {
      content: "";
      background: url(../../assets/more.png) 50% 50% no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      left: -44px;
      top: -1px;
    }
  }

  &__expansion-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #110421;
    opacity: 0.7;
    margin: 0;
  }

  &__video-instruction-root {
    height: 460px;
    background: rgb(116, 0, 255);
    background: linear-gradient(90deg, rgba(116, 0, 255, 1) 57%, rgba(229, 44, 210, 1) 58%, rgba(229, 44, 210, 1) 100%);
  }

  &__video-instruction.container {
    position: relative;

    &:after {
      content: "";
      width: 100%;
      height: 460px;
      background: url(../../assets/mask_group.png) 100% 50% no-repeat;
      position: absolute;
      background-size: cover;
      top: 0;
      right: 0;
      z-index: 50;
    }
  }

  &__video-instruction {
    display: flex;
    justify-content: space-between;
  }

  &__video-instruction-text {
    padding-top: 70px;
    padding-bottom: 85px;
    width: 45%;

    h3 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin: 0;
      position: relative;
      max-width: 370px;

      &:after {
        content: "";
        width: 97%;
        height: 2px;
        background: #FFFFFF;
        opacity: 0.2;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    p {
      max-width: 370px;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      margin: 41px 0 0;
    }

    button {
      background: #D600FF url(../../assets/Polygon.png) 24px 50% no-repeat;
      border: 3px solid #D600FF;
      box-sizing: border-box;
      border-radius: 100px;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 16px 40px 16px 64px;
      margin-top: 60px;
      cursor: pointer;
      outline: none;
      box-shadow: 0 0 40px #D600FF;
      position: relative;
      z-index: 150;

      &:hover {
        background: rgba(214, 0, 255, 0.8) url(../../assets/Polygon.png) 24px 50% no-repeat;
      }
    }
  }

  &__video-instruction-image-root {
    position: relative;
    width: 530px;
    height: 460px;
  }

  &__video-instruction-image {
    position: absolute;
    top: -75px;
    right: 27%;
    z-index: 100;
    width: 100%;
    height: 535px;
  }

  @media screen and (max-width: 1125px) {
    &__video-instruction-image {
      height: 535px;
      right: 5%;
    }
  }

  @media screen and (max-width: 1034px) {
    &__video-instruction-image {
      right: 0;
      height: 502px;
      top: 0;
      width: 75%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__video-instruction-image-root {
      width: 100%;
    }
  }
  @media screen and (max-width: 790px) {
    &__video-instruction-image {
      height: 460px;
    }
    .grBOFc {
      justify-content: initial;
    }
  }

  @media screen and (max-width: 490px) {
    &__video-instruction-image-root {
      height: 361px;
    }
    &__video-instruction-image {
      height: 100%;
      width: 100%;
    }

    .react-multi-carousel-dot-list {
      bottom: 6px;
    }
  }

  &__footer-info {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid rgba(51, 16, 94, 0.1);
    align-items: center;
    justify-content: space-between;
  }

  &__footer-info-nav {
    //margin-left: 10%;
    //margin-right: 13%;

    span {
      margin-right: 50px;
      font-size: 16px;
      line-height: 24px;
      color: #110421;
      position: relative;
      text-decoration: underline;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__footer-info-logo {
    width: 159px;
    height: auto;
    background-size: contain;
  }

  &__footer-info-socials {
    //margin-right: 77px;

    a {
      width: 32px;
      height: 32px;
      margin-right: 20px;
      display: inline-block;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__footer-info-social-item {
    margin-right: 20px;
    display: inline-block;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__footer-info-application {
    //margin-left: auto;
  }

  &__footer-info-application-phone {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #110421;
  }

  &__footer-info-application-btn {
    background: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D600FF;
    position: relative;
    padding: 0;
    margin-top: 8px;
    margin-left: 44px;
    cursor: pointer;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      background: #D600FF;
      bottom: 2px;
      left: 0;
    }

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: url(../../assets/clipboard_footer.png) 50% 50% no-repeat;
      position: absolute;
      left: -31px;
      top: 2px;
    }
  }

  &__footer-agreement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    p {
      font-weight: normal;
      line-height: 24px;
      margin: 0;
      font-size: 12px;
      color: #877E92;
    }

    a {
      font-size: 14px;
      color: #877E92;
      font-weight: normal;
      line-height: 24px;
      text-decoration: none;

      span {
        color: #0099FF;
      }
    }
  }

  &__footer-copyright {
    display: flex;
    align-items: center;

    .central_asia {
      margin-left: 55px;
      display: flex;
      align-items: center;

      p {
        margin: 0 36px 0 0;
        font-size: 12px;
        line-height: 24px;
        color: #877E92;
      }
    }
  }


  @media screen and (max-width: 1350px) {
    &__promo-image-1 {
      width: 210px;
      height: 210px;
    }
    &__promo-image-2 {
      width: 140px;
      height: 140px;
    }
    &__promo-image-4 {
      width: 130px;
      height: 130px;
    }
    &__promo-image-5 {
      width: 110px;
      height: 110px;
    }

    &__footer-info-nav {
      margin-left: 9%;
      margin-right: 9%;

      span {
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
      }
    }

    &__video-instruction-root {
      background: #7400ff;
      height: 100%;
    }

    &__video-instruction-text {
      width: 50%;
    }

    &__video-instruction.container:after {
      height: 100%;
      width: 100%;
      right: 0;
      background-size: cover;
      background-position: -15% 50%;
    }
  }


  @media screen and (max-width: 1090px) {
    &__promo-text-root {
      padding-top: 70px;
    }
    &__promo-image-1,
    &__promo-image-2,
    &__promo-image-3,
    &__promo-image-4,
    &__promo-image-5,
    &__promo-image-6,
    &__promo-image-7, {
      display: none;
    }
    &__top-info {
      height: 725px;
    }
    &__promo:after {
      content: none;
    }
    &__promo-bloggers {
      display: none;
    }
    &__promo-text-root {
      width: 100%;
      text-align: center;

      h2 {
        margin: 20px auto 0;
        width: 48%;
        font-weight: bolder;

        &:after {
          left: 50%;
          transform: translateX(-50%);
          width: 185px;
        }
      }

      p {
        margin: 64px auto 0;
        max-width: 45%;
      }
    }

    &__promo-application-btns {
      width: 100%;

      button {
        display: block;
        margin: 30px auto;
      }
    }


    &__footer-info {
      justify-content: center;
      flex-direction: column;
    }

    &__footer-info-logo {
      width: 202px;
      margin-bottom: 30px;
    }

    &__footer-info-nav {
      display: flex;
      margin-bottom: 30px;
    }

    &__footer-info-socials {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
    }

    &__footer-info-application {

      button {
        margin-top: 16px;
        margin-left: 36px;
      }
    }

  }


  @media screen and (max-width: 1025px) {

    &__faq {
      max-width: 600px;
    }
  }

  @media screen and (max-width: 950px) {
    &__promo-text-root h2 {
      margin: 37px auto 0;
      width: 100%;
    }

    &__video-instruction.container:after {
      background-position: 14% 50%;
    }
    &__faq {
      max-width: 500px;
    }
    &__promo-text-root p {
      max-width: 64%;
    }
    &__partners-items {
      max-width: 555px;
    }
    &__footer-info-nav {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 790px) {
    &__promo-text-root h1 {
      font-size: 40px;
    }
    &__promo-text-root h2 {
      font-size: 26px;
    }
    &__promo-text-root p {
      font-size: 20px;
    }
    &__faq {
      padding-right: 0;
      padding-left: 0;

      &:after,
      &:before {
        content: none;
      }
    }
    &__video-instruction-text {
      width: 100%;
    }
    &__video-instruction.container:after {
      content: none;
    }

    &__video-instruction {
      display: block;
    }
    &__video-instruction-text h3,
    &__video-instruction-text p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    button {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }

    &__video-instruction-root {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        background: url(../../assets/mask_group_mobile.png) 100% 99% no-repeat;
        width: 100%;
        height: 300px;
        right: 0;
        bottom: 0;
      }
    }
    &__promo-text-root p {
      max-width: 90%;
    }
    &__partners:after,
    &__partners:before {
      content: none;
    }

    &__video-instruction-text {
      padding-bottom: 29px;
    }
  }

  @media screen and (max-width: 950px) {
    &__footer-agreement {
      flex-direction: column;
    }

    &__footer-copyright {
      margin-bottom: 10px;
    }

  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 0;
      margin-top: 60px
    }
    &__partners-items {
      max-width: 320px;
    }
    &__footer-agreement,
    &__footer-copyright {
      flex-direction: column;
      .central_asia {
        margin-top: 15px;
      }
    }



    &__promo-text-root h1 {
      font-size: 30px;
    }
    &__promo-text-root h2 {
      margin: 10px auto 0;
      width: 100%;
      font-size: 24px;
    }
    &__promo-text-root h2:after {
      bottom: -17px;
    }
    &__footer-info-nav {
      margin-right: 0;
      margin-left: 0;
    }
    &__promo-text-root p {
      max-width: 100%;
      margin: 44px auto 0;
      font-size: 16px;
    }
    &__faq {
      max-width: 340px;
    }
    .geRExE {
      width: 80px;
    }
    &__partners-items {
      .sc-bxivhb {
        width: 320px;
        margin: 15px 0;
      }

      padding-bottom: 30px;
    }
    &__our-bloggers-cards {
      .sc-bxivhb {
        margin: 15px 4px;
      }
    }
    header {
      padding: 30px 10px 0;
    }
  }
  @media screen and (max-width: 320px) {
    header {
      padding: 30px 0;
    }
    .container {
      padding: 0;
    }
    &__header-menu-icon {
      padding-right: 10px;
    }
    &__header-logo-root {
      padding-left: 10px;
    }
  }


  @media screen and (max-width: 450px) {
    header.opened {
      background-color: #ffffff;
      padding-bottom: 40px;
    }

    .mobile-menu-phone {
      display: none;
    }

    &__mobile-navs {
      span {
        color: #110421;

        &:after {
          background-color: #110421;
        }
      }
    }
    &__mobile-application {
      margin-top: 140px;

      span {
        color: #110421;
        font-weight: 800;
      }

      button {
        background: #D600FF;
        color: #ffffff;
        border-color: #D600FF;
      }
    }

  }

}

@media screen and (max-width: 650px) {
  .container {
    padding: 0 10px !important;
  }
  .landing__footer-info-nav {
    padding: 0 17px;
  }
}

@media screen and (max-width: 490px) {
  .landing-modal .MuiButtonBase-root {
    padding: 14px 12px !important;
  }
  .modal-form__socials-fields {
    flex-direction: column;

    .social-select {
      min-width: 99%;
      margin: 0 0 10px 0 !important;
    }
  }
}

.mobile-number {
  text-decoration: none;
  color: #FFFFFF;

  &.--black {
    color: #1A051D;
  }
}