.header-filter {
  padding: 20px 35px 20px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EDEDF6;
  background-color: #ffffff;

  &__sort {
    align-items: center;
    display: flex;
    margin-right: 24px;
    button {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #6A7083;
      background: transparent;
      border: none;
      outline: none;
      margin-right: 13px;
      cursor: pointer;
    }
  }

  &__date {
    width: 125px;
    height: 20px;
    margin-right: 48px;
  }

  &__date-custom {
    padding-left: 0;

    input {
      width: 100%;
      height: auto;
      box-shadow: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #6A7083;
      padding-left: 0;
      cursor: pointer;
      outline: none;
    }
  }

  .admin-date-picker-root:after {
    right: 3px;
    top: 0;
    width: 20px;
    height: 20px;
    background-size: cover;
    background: url(../../assets/Icons/calendar_sec.png) 50% 50% no-repeat;
  }

  &__search {
    width: 280px;
    padding: 8px 15px;
    box-sizing: border-box;
    border: 1px solid #DADCE5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    input {
      outline: none!important;
      border: none;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #6A7083;
      -webkit-appearance: none;
      border-radius: 0;
    }
    span {
      margin-right: 7px;
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
    p {
      color: #A6ACBE;
      font-size: 14px;
      margin: 0;
    }
    svg {
      margin-left: 10px;
    }
  }
}