.main-root {
  padding: 40px;


  &__cards-root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 60px 1fr 1fr 1fr 30px;
    gap: 30px;
  }

  &__chart-root {
    margin-top: 60px;
  }

  &__paper {
    display: flex;
    align-items: center;
  }

  &__paper-chart {
    width: 600px;
  }

  &__paper-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.--violet-bg {
      background: rgba(116, 0, 255, 0.05);
    }

    &.--dark-blue-bg {
      background: rgba(44, 89, 229, 0.1);
    }

    &.--yellow-bg {
      background: rgba(252, 216, 22, 0.1);
    }

    &.--green-bg {
      background: rgba(36, 175, 71, 0.1);
    }
  }

  &__paper-info {
    margin-left: 20px;
  }

  &__paper-info-count {
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin: 0;

    &.--violet {
      color: #7400FF;
    }

    &.--dark-blue {
      color: #2C59E5;
    }

    &.--yellow {
      color: #FCD816;
    }

    &.--green {
      color: #24AF47;
    }
  }

  &__paper-info-title {
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #110421;
    margin: 8px 0 0;
  }

  &__bloggers-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEF0F7;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;

    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #000000;
    }

    span {
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #0099FF;
    }
  }

  &__bloggers {
    ul {
      margin: 15px 0 30px;
      padding: 0;
      max-height: 300px;
      overflow: auto;

      li {
        display: flex;
        align-items: center;
        margin-top: 25px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: scale-down;
          margin-right: 15px;
        }

        p {
          margin: 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: 0.01em;
          color: #110421;
        }

      }
    }
  }

  &__bloggers-nav {
    border: 1px solid #DADCE5;
    box-sizing: border-box;
    border-radius: 50px;
    text-decoration: none;
    padding: 16px 66px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #7400FF;
    cursor: pointer;

    &:hover {
      background: #7400FF;
      color: #FFFFFF;
    }
  }

  &__chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEF0F7;
    margin-bottom: 25px;
  }

  &__chart-paper {

    h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #000000;
      margin: 0;
    }

  }

  &__chart-labels {
    display: flex;

    p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 0;
      position: relative;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: -21px;
        top: 5px;
      }

      &:nth-child(1) {
        &:before {
          //background: #6F52ED; TODO need use
          background: #4ab5eb;
        }
      }

      &:nth-child(2) {
        margin-left: 50px;

        &:before {
          //background: #FF7A00; TODO need use
          background: #fc6767;
        }
      }
    }
  }
}