.admin-date-picker-root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__date-field {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-left: 16px;
    color: #3F3356;
    width: 260px;
    height: 32px;
    box-sizing: border-box;
  }

  //&:after {
  //  content: "";
  //  position: absolute;
  //  background: url(../../../assets/Icons/calendar.png) 50% 50% no-repeat;
  //  background-size: contain;
  //  right: 16px;
  //  top: 8px;
  //  width: 16px;
  //  height: 16px;
  //}

  .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    display: none;
  }

  .react-datepicker {
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding: 0 10px;
    border: none;
    position: relative;
  }

  .react-datepicker__day-names, .react-datepicker__week {
    margin-top: 9px;

  }

  .react-datepicker__day-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #D0C9D6;
    text-transform: uppercase;
  }

  .react-datepicker__day--outside-month {
    color: #ECEBED;
  }

  .react-datepicker__day--today {
    background: #EEDFF2;
    border-radius: 50%;
    color: #7400FF;
  }

  .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover {
    border-radius: 50%;
  }

  .react-datepicker__day--selected {
    background: linear-gradient(225deg, #7400FF 0%, #8461C9 100%);
    border-radius: 50%;
    color: #ffffff;
  }

  .react-datepicker__day:hover{
    background: linear-gradient(225deg, #BD7AE3 0%, #8461C9 100%);
    border-radius: 50%;
    color: #ffffff;
  }

  .react-datepicker__current-month {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1A051D;
    font-weight: normal;
    text-transform: capitalize;
  }

  .react-datepicker__header {
    background-color: #ffffff;
    border-bottom: 1px dashed #ECEBED;
  }

  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    border-right-color: transparent;
    border-left-color: transparent;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }

  .react-datepicker__navigation--previous {
    background: url(../../../assets/Icons/arrow.png) 50% 50% no-repeat;
    transform: rotate(180deg);
  }

  .react-datepicker__navigation--next {
    background: url(../../../assets/Icons/arrow.png) 50% 50% no-repeat;
  }

  .react-datepicker__navigation--previous:hover {
    border-right-color: transparent;
  }
  .react-datepicker__navigation--next:hover {
    border-left-color: transparent;
  }

}