.advertisement {
  padding: 37px 20px;

  &__info {
    min-height: 421px;
    margin-top: 55px;
    background: #FFFFFF;
    box-shadow: 0 3px 0 #EDEDF6;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 20px 30px;
  }

  &__info-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDF6;
    padding-bottom: 16px;
  }

  &__info-tab {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    margin: 0;
    width: 50%;
    cursor: pointer;

    &--active {
      color: #110421;
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -16px;
        background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
      }
    }
  }

  &__info-items {
    padding-top: 20px;
  }

  &__info-project {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        span {
          &:nth-child(1) {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #6A7083;
          }

          &:nth-child(2) {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #110421;
            word-break: break-all;
          }
        }
      }
    }

    .sub-title {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #6A7083;
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #EEF0F7;
    }

    .text {
      margin: 10px 0 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #110421;
    }

    .show-more {
      font-size: 16px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #0099FF;
      margin-top: 10px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__info-totals {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        span {
          &:nth-child(1) {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #6A7083;
          }

          &:nth-child(2) {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #110421;
            word-break: break-all;
          }
        }

        .green {
          color: #24AF47 !important;
        }

        input {
          width: 60px;

          outline: none;
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
          border-bottom: transparent;
        }

        .MuiInput-underline:after, .MuiInput-underline:before {
          border-bottom: transparent;
        }

        .MuiInput-root {
          outline: none;
          width: 60px;
          background: #FFFFFF;
          border: 1px solid #DADCE5;
          box-sizing: border-box;
          border-radius: 6px;
          text-align: right;
          padding-right: 5px;
          padding-top: 6px;
          padding-bottom: 6px;
          font-weight: normal;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: #110421;
        }

        .MuiTypography-root {
          font-size: 12px;
          color: #110421;
        }

        .MuiInputBase-input {
          text-align: right;
          padding: 0;
          font-size: 13px;
        }

        .MuiInputAdornment-positionEnd {
          margin-left: 4px;
        }
      }
    }

    .general-btn {
      margin-top: 24px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 100%;
      padding: 0;
      white-space: nowrap;
    }
  }

  th {
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6A7083;
    border-bottom: transparent;
    padding: 10px;

    &:first-child {
      min-width: 178px;
      max-width: 210px;
    }

    &:nth-child(3) {
      max-width: 70px;
    }

    &:nth-child(5),
    &:nth-child(4), {
      max-width: 70px;
      min-width: 60px;
    }
  }

  tbody {

    .MuiTableCell-root {
      background: #FFFFFF;
      box-shadow: 0px 2px 0px #EDEDF6;

      &:first-child {
        color: #A6ACBE;
        font-size: 14px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #ffffff;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  td {

    padding: 10px;

    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #110421;
    vertical-align: top;

    &:first-child {
      min-width: 178px;
      max-width: 210px;
    }

    &:nth-child(3) {
      max-width: 70px;
    }


    &:nth-child(5),
    &:nth-child(4), {
      max-width: 70px;
      min-width: 60px;
    }
  }

  &__item {

    .avatar {
      position: relative;
      margin-right: 16px;
      display: inline-block;
      height: 100%;
    }

    .rating {
      position: absolute;
      right: -3px;
      bottom: 7px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #24AF47;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #FFFFFF;

      &--red {
        background: #FA445C;
      }

      &--yellow {
        background: #FBBD0E;
      }
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .complete {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #24AF47;
      display: flex;
      align-items: center;
    }

    .check-icon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #24AF47;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .name {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #110421;
      display: inline-block;
      height: 100%;
      width: 100px;
      vertical-align: top;
    }

    .button-select {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      color: #0099FF;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
    }

    .empty {
      color: #A6ACBE;
    }

    .icon-rotate {
      transform: rotate(90deg);
    }

    .edit-rotate-icon {
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }

    .bill_price {
      margin: 0;

    }

    .bill_name {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #6A7083;
      margin: 0;
      display: block;
      max-width: 60px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


  &__create-block {
    background: #FFFFFF;
    box-shadow: 0 2px 0 #EDEDF6;
    border-radius: 10px;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 auto;
    }

    h6 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 12px 0 0;
      text-align: center;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      margin: 10px 0 0;
    }

    .nav-link {
      margin-top: 30px;
      padding: 10px 34px;
      background: #FFFFFF;
      border: 1px solid #7400FF;
      box-sizing: border-box;
      border-radius: 50px;
      outline: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #7400FF;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: #7400FF;
        color: #ffffff;
      }
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }


  // Advertisements

  &__list-items {
    padding: 15px 15px 30px 26px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0 3px 0 #EDEDF6;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    margin: 15px;

    &__head {
      display: flex;

      .date-id {
        .id {
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-transform: uppercase;
          color: #A6ACBE;
          margin: 0;
        }

        .date {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.01em;
          color: #A6ACBE;
          margin: 6px 0 0;

          span {
            color: #6A7083;
          }
        }
      }

      .info_icon {
        margin-left: auto;

        .dot-rotate-icon {
          transform: rotate(90deg);
          align-self: flex-start;
          padding: 0;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 10px 0 0;
      padding-bottom: 16px;
      border-bottom: 1px solid #EDEDF6;
      overflow-x: hidden;
      max-width: 360px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    ul {
      margin: 17px 0 0;
      padding: 0 0 6px;
      border-bottom: 1px solid #EDEDF6;

      &:last-child {
        margin: 0;
        border-bottom: none;
      }

      li {
        display: flex;
        align-self: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        padding: 0;
        margin-bottom: 14px;

        .icon {
          margin-right: 12px;
        }

        .text-grey {
          color: #6A7083;
        }

        .text-blue {
          color: #0099FF;
          text-decoration: none;
        }

        .text-completed {
          color: #FA445C !important;
        }

        .text-in-progress {
          color: #fa7844 !important;
        }

        a {
          margin-left: auto;
        }

        .text {
          color: #110421;
          margin-left: auto;
        }

        .text-bold {
          font-weight: bold;
          color: #110421;
          margin-left: auto;
        }

      }

    }

    .green-text {
      font-weight: bold !important;
      color: #24AF47 !important;
    }

    .red-text {
      font-weight: bold !important;
      color: #FA445C !important;
    }

    .grey-bold {
      font-weight: bold !important;
    }

    .show-reject {
      display: block;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      color: #0099FF;
      background-color: transparent;
      margin: 6px auto 0;
      cursor: pointer;
    }

    .bloggers-status {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #6A7083;
      font-weight: normal;
      margin: 16px 0 22px;
    }

    .like-icon-rotate {
      transform: rotate(180deg);
    }

    .status-text {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #110421;
    }

    .no-answer {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      margin-left: auto;
    }

    li {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
    }

    .blogger-icons-root {
      margin-left: auto;
      position: relative;
      height: 32px;

      .blogger-icon {
        position: absolute;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid #FFFFFF;
        }

        &:first-child {
          right: 38px;
          z-index: 10;
        }

        &:nth-child(2) {
          right: 64px;
          z-index: 20;
        }

        &:nth-child(3) {
          right: 91px;
          z-index: 30;
        }

      }

      .more-bloggers-btn {
        min-width: 32px;
        height: 32px;
        background: #7400FF;
        border-radius: 50%;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-top: 3px;
      }


    }
  }

  // Company

  &__company-tabs {
    display: flex;
    background-color: #ffffff;
    padding: 18px 20px;

    .tab-name {
      background-color: transparent;
      outline: none;
      border: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #6A7083;
      margin-right: 32px;
      cursor: pointer;

      &--active {
        font-weight: bold;
        color: #110421;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
          left: 0;
          bottom: -18px;
        }
      }
    }
  }

  &__company {
    //padding: 30px 40px;

  }

  &__about-project-holder {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;

    .papers-info {
      width: 40%;
    }

    .tz_text {
      width: 55%;
    }

  }

  &__about-project {

    .info-paper {
      //width: 100%;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0 2px 0 #EDEDF6;
      border-radius: 10px;
      margin-bottom: 10px;

      &--short {
        width: 35%;
      }


      &__datepicker {
        width: 80%;

        input {
          width: 100px !important;
          background: transparent;
          box-shadow: none;
          outline: none;
          padding-left: 0 !important;

          &:hover {
            font-weight: bold;
          }
          cursor: pointer;
        }
      }

    }


    .info-paper-export {
      width: 100%;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0 2px 0 #EDEDF6;
      border-radius: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .commercial-text {
        font-size: 1.2vw;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #0099FF;
        font-weight: normal;
        max-width: 180px;
        display: flex;
        margin: 0;
        padding-right: 5px;

        span {
          margin-right: 13px;
        }

      }

      button {
        outline: none;
        background: #0099FF;
        border-radius: 8px;
        padding: 10px 20px;
        display: flex;
        align-self: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        cursor: pointer;

        span {
          margin-right: 10px;
        }
      }
    }

    .general-btn {
      width: 100%;
      margin-top: 20px;
    }

    .info-papers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .paper-title {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      margin: 0;
    }

    .paper-sub-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #110421;
      margin: 4px 0 0;
    }

    .tz-paper {
      background: #FFFFFF;
      box-shadow: 0 2px 0 #EDEDF6;
      border-radius: 10px;
      padding: 40px 30px;
      box-sizing: border-box;
      min-height: 87%;
      max-height: 87%;
      overflow: auto;


      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #000000;
        margin: 0;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #6A7083;
      }
    }
  }

  // bloggers info
  &__bloggers-info {

    .tabs {
      display: flex;
      padding: 12px 20px;
      background-color: #ffffff;
      border-top: 1px solid #EDEDF6;
    }

    .tab {
      padding: 8px 24px;
      background: #FFFFFF;
      border-radius: 6px;
      outline: none;
      border: none;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      margin-right: 10px;
      cursor: pointer;

      &--active {
        background: #7400FF;
        color: #FFFFFF;
      }
    }

    .bloggers-info-list {
      padding: 30px 40px;
    }

  }

  .add-link-root {
    margin-top: 14px;
    padding: 0 17px;

    .nav-link-add-blogger {
      margin-top: 30px;
      padding: 10px 34px;
      background: #FFFFFF;
      border: 1px solid #7400FF;
      box-sizing: border-box;
      border-radius: 50px;
      outline: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #7400FF;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: #7400FF;
        color: #ffffff;
      }
    }
  }


}

.bloggers-popup {
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  &__name {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #110421;
  }

  .MuiButtonBase-root {
    display: flex;
    align-items: center;

    .blogger-icon {
      margin-right: 8px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #FFFFFF;
      }
    }
  }

}