.input-form-select {
  padding: 0;
  .MuiSelect-select.MuiSelect-select {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding: 18px 0 18px 14px;
  }
  .MuiFormControl-root {
    border: 1px solid #DADCE5;
    border-radius: 6px;
  }
  .MuiInput-underline:before {
    border: none;
  }
  .MuiSelect-select:focus {
    background: none;
  }
  .MuiInput-underline:hover:not(.Mui-disabled):before,
  .MuiInput-underline:after{
    border: none;
  }


  legend {
    border: none!important;
    font-weight: bold!important;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #110421;
    padding-bottom: 4px;
  }
}

.input-form-select.makeStyles-root-142 {
  padding: 0!important;
}