.common-pagination-root {
  background: transparent;
  margin: 40px 0 20px 0;
  padding-left: 31px;

  .MuiPaginationItem-rounded {
    color: #7400FF;
    background: transparent;
    border: none;
    border-radius: 0;
  }

  .MuiButtonBase-root {
    margin: 0;
    &:hover {
      background: rgba(116, 0, 255, 0.7);
      color: #ffffff;
    }
  }

  li {
    border-top: 1px solid #7400FF;
    border-bottom: 1px solid #7400FF;
    border-left: 1px solid #7400FF;
    &:last-child {
      border-right: 1px solid #7400FF;
      border-radius: 0px 4px 4px 0px;
    }
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
  }


  .MuiPaginationItem-page.Mui-selected {
    background: #7400FF;
    color: #ffffff;
  }

  .MuiPaginationItem-ellipsis {
    height: 32px;
    background: transparent;
    border-radius: 4px;
    line-height: 32px;
  }
}