.social-select {
  border: 1px solid #DADCE5;
  border-radius: 6px;
  min-width: 135px;
  max-width: 135px;

  div {
    z-index: 100;
    width: 135px;
    left: -14px;
  }

  button {
    min-height: 0;
    padding: 14px;
    width: 100%;

  }

  .MuiButton-label {
    align-items: center;
    display: flex;

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 0 9px 0 0;
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      height: 100%;
      display: flex;
      margin-left: auto;
    }
  }
}