.settings-root {
  padding: 30px 40px;

  th, td {
    &:first-child {
      width: 150px !important;
    }

    &:nth-child(3) {
    }
  }

  .social-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: fill;
  }

  .tag-item {
    display: inline-block;
    padding: 8px 22px;
    border-radius: 6px;
    max-width: 400px;
  }
  .tag-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    word-break: break-all;
  }

}

.dot-rotate-icon {
  transform: rotate(90deg);
}