.input-form-mask {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 !important;

  .MuiInputBase-root {
    border: 1px solid #DADCE5;
    color: #110421;
    padding: 11px 16px;
    border-radius: 6px;

    &:hover {
      border-color: #7400FF;
    }
  }

  .MuiFormLabel-root.Mui-focused {
    color: #24AF47;
  }

  .MuiInputBase-root.Mui-focused {
    border: 1px solid #24AF47;
  }

  legend {
    border: none !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 20px !important;
    text-transform: uppercase;
    color: #110421;
    padding-bottom: 4px;
  }

  .label-error {
    color: #FA445C;
  }

  .MuiInput-root.Mui-error {
    border-color: #FA445C;
  }

  .error-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FA445C;
    display: inline-block;
    margin: 3px 14px;
  }
}