.blogger-info {
  padding-bottom: 60px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &__header-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }

    span {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #24AF47;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      justify-content: center;
    }
  }

  &__header-status-name {
    margin: 16px 0 0;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #2C59E5;
  }

  &__header-names {
    margin: 6px 0 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #110421;
  }

  &__header-country {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    margin: 4px 0 0;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }

  &__social {
    display: flex;
    align-items: center;
    width: 33.3%;
    margin-bottom: 7px;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }

  &__social-subs {
    .count {
      margin: 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #110421;
    }

    .link {
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #0099FF;
      max-width: 118px;
      display: inline-block;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
    }
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
  }

  &__service {
    padding: 8px 20px;
    border-radius: 8px;
    max-width: 100px;
    margin: 5px 3px;

    span {
      max-width: 83px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #7400FF;
    }
  }

  &__tabs {
    padding-bottom: 19px;
    border-bottom: 1px solid #EDEDF6;
    padding-right: 32px;
    padding-left: 32px;
    margin: 48px -32px 30px;
    display: flex;
  }

  &__tab-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    width: 25%;
    text-align: center;
    margin: 0;
    cursor: pointer;

    &--active {
      position: relative;
      color: #110421;

      &:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -20px;
        background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
      }
    }
  }

  // tabs
  &__personal {
    display: flex;
  }

  &__personal-side {
    width: 47%;

    &:nth-child(2) {
      padding-left: 87px;
    }

    .info-label {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      margin: 0;
    }

    .info-value {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #110421;
      margin: 0 0 20px;
      word-break: break-all;

      &__email {
        color: #0099FF;
        word-break: break-all;
      }

      span {
        margin-right: 5px;
      }
    }
  }

  &__statistics {

  }

  &__statistics-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    margin: 0;
  }

  &__statistics-head {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid #EDEDF6;

    .accepted-root {
      margin-right: 60px;
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 21px;

      }

      &__icon--rotate {
        transform: rotate(180deg);
        margin-right: 21px;
      }

      &__text {
        margin-right: 10px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
      }

      &__count {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
      }
    }
  }

  &__statistics-ul {
    padding: 0;
    margin: 0;
  }

  &__statistics-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #EDEDF6;

    span {
      &:first-child {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #A6ACBE;
      }

      &:last-child {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
      }
    }
  }

  &__statistics-geo-ul {
    padding: 0;
    margin: 20px 0 0;
  }

  &__statistics-geo-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    span {
      &:first-child {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
      }

      &:nth-child(2) {
        font-weight: 800;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #110421;
      }

    }

    .grey-text {
      color: #A6ACBE !important;
    }
  }

  &__prices {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #EDEDF6;
      height: 48px;
      margin-bottom: 1px;

      span {
        &:first-child {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.01em;
          color: #110421;
        }

        &:last-child {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.01em;
          color: #110421;
          font-weight: bold;
        }
      }

    }
  }

  &__remarks {
    h6 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #000000;


      .edit {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #0099FF;
        padding-left: 9px;

        span {
          margin-right: 9px;
        }
      }
    }

    .remark_text {
      margin: 20px 0 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #6A7083;
    }

    button {
      margin-top: 20px;
    }
  }
}