.offer-root {
  background: #F8F8FB;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__info-block {
    max-width: 660px;
    min-width: 660px;
    min-height: 513px;
    background: #FFFFFF;
    box-shadow: 0 4px 0 #EDEDF6;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px 40px 40px;
    display: flex;
    flex-direction: column;
  }

  &__date {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    margin: 0;
  }

  &__title {
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #110421;
    margin: 10px 0 0;
  }

  &__tabs {
    display: flex;
    align-items: center;
    margin-top: 35px;
    border-bottom: 1px solid #EDEDF6;
    padding-bottom: 12px;

    .tab_name {
      outline: none;
      border: none;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #A6ACBE;
      width: 50%;
      padding: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;


      .tab-text {
        display: block;
        text-align: center;
      }

      &__active {
        color: #110421;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          background: linear-gradient(90deg, #7400FF 0%, #D600FF 100%);
          bottom: -13px;
          left: 0;
        }
      }
    }
  }

  &__tab-info {
    margin-top: 30px;


    .text-info {
      &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #6A7083;
        margin: 0;
      }
    }
  }

  &__service-info {
    padding-bottom: 29px;
    border-bottom: 1px solid #DADCE5;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        .name {
          color: #6A7083;
          max-width: 50%;
          white-space: normal;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }

        .value {
          color: #110421;
        }
      }
    }
  }

  &__footer {
    margin-top: 30px;
  }

  &__total {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #110421;
    margin: 0;
    text-align: center;
  }

  .total-sum {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-top: 20px;
  }

  &__btn {
    margin: 0 10px;
    outline: none;
    border: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 32px;
    border-radius: 50px;
    cursor: pointer;


    span {
      margin-right: 9px;
    }

    .rotate-icon {
      transform: rotate(180deg);
    }

    &--active {

      &:first-child {
        background: #24AF47;
        border: 1px solid #24AF47;

        &:hover {
          background: #1e993d;
        }
      }

      &:last-child {
        background: #FA445C;
        border: 1px solid #FA445C;

        &:hover {
          background: #d9394e;
        }
      }
    }


    &--disabled {
      background: #EDEDF6;
    }

  }


  @media screen and (max-width: 800px) {
    &__info-block {
      min-width: 500px;
      max-width: 500px;
    }
  }


  @media screen and (max-width: 560px) {
    &__info-block {
      min-width: 400px;
      max-width: 400px;
    }
    &__btns {
      flex-direction: column;
    }
    &__btn:last-child {
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 450px) {
    &__info-block {
      min-width: 100%;
      max-width: 100%;
      min-height: 100vh;
    }

    min-height: 100vh;
    display: block;

    &__date {
      font-size: 15px;
    }

    &__tabs {
      .tab_name {
        padding: 0 15px;
        font-size: 17px;

        &__active {
          &:before {
            bottom: -13px;
            left: 0;
          }
        }
      }

      .tab-text {
        width: 100px;
        display: block;
        text-align: center;
      }
    }

    &__total {
      font-size: 16px;
    }

    &__title {
      font-size: 26px;
    }
    &__btn {
      padding: 12px 32px;
    }
  }

}

// Blogger modal
.complete-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__circle {
    width: 80px;
    height: 80px;
    border: 1px solid #24AF47;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #110421;
    margin: 20px 0 0;
  }

}