.sidebar {
  &__container {
    min-height: 100vh;
    background: #33105E;
    overflow: hidden;
  }

  &__icon {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 30px 17px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 105px;

    img {
      width: 130px;
      height: 40px;
      object-fit: cover;
      opacity: 0;
      animation: fadeInLeft 1s ease-in-out 0s forwards;
      animation-delay: 0.5s;
    }

    span {
      align-self: center;

      svg {
        cursor: pointer;
        opacity: 1;
      }
    }
  }


  &__navs-ul {
    padding: 0 18px 22px;
    margin: 0;
    list-style: none;
  }

  &__navs-list {
    padding: 11px 0;
    display: flex;
    align-self: center;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;

    span:first-child {
      margin-right: 24px;
    }

    svg {
      opacity: 0.5;
    }
    &:hover {
      span {
        color: #ffffff;
      }
      svg {
        opacity: 1;
      }
    }
    span {
      align-self: inherit;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: #FFFFFF;
      opacity: 0.5;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        position: relative;

        svg {
          opacity: 1;
        }
        &:before {
          content: "";
          width: 4px;
          height: 24px;
          position: absolute;
          left: -17px;
          top: 0;
          background: #D600FF;
        }
      }
    }

    &--active {
      position: relative;

      span:nth-child(2) {
        color: #ffffff;
        position: relative;
        opacity: 1!important;

      }

      svg {
        opacity: 1!important;
      }

      &:before {
        content: "";
        width: 4px;
        height: 24px;
        position: absolute;
        left: -17px;
        top: 10px;
        background: #D600FF;
      }
    }

  }

  &__navs-list-title {
    color: rgba(255, 255, 255, 0.5);
  }


  &__navs-ul-inner {
    margin-left: -7px;
    padding: 0 14px 5px 7px;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    border-radius: 16px;

    &--is-open {
      background: rgba(255, 255, 255, 0.1);
    }

    .sidebar__navs-list {
      padding-bottom: 10px;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      padding-left: 38px;

      &.active {
        color: #FCD816;
      }

      opacity: 0;
      animation: fadeInDown 0.5s ease-in-out 0s forwards;
      animation-delay: 0.1s;
    }
  }

  &__navs-list-notify {
    width: 24px;
    height: 24px;
    background: #FCD816;
    border-radius: 50px;
    font-size: 11px;
    line-height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #110421;
    margin-left: auto;
    opacity: 0;
    animation: fadeInRight 0.5s ease-in-out 0s forwards;
    animation-delay: 0.1s;
  }
}
