.split-button {
  .MuiButton-containedPrimary {
    background: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: inherit;
    padding: 0;

  }
  .MuiList-padding {
    padding-bottom: 0;
    padding-top: 0;
  }

  .MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
    border-color: transparent;
  }

  .MuiButton-containedPrimary:hover {
    background-color: transparent;
  }

  .MuiButtonGroup-contained {
    box-shadow: none;
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  .MuiButton-contained:hover {
    box-shadow: none;
  }

  .MuiButton-label {
    display: initial;
  }

  .MuiPaper-root {
    background: #FFFFFF;
    border: 1px solid #C9CED6;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    li > span {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
    li {
      border-bottom: 1px solid #EDEDF6;
      padding-bottom: 10px;
      padding-top: 10px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background: transparent;
  }
  div {
    z-index: 99999;
  }
}