.input-form {
  width: 100%;
  margin: 10px 0;

  .MuiFormLabel-root {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #1A051D;
    border: 1px solid #DADCE5;
  }

  .MuiOutlinedInput-root {
    border-radius: 6px;
  }

  .PrivateNotchedOutline-root-112 {
    border-color: transparent;
  }

  .MuiInputBase-input {
    color: #1A051D;
  }

  legend {
    border: none !important;
    font-weight: bold !important;
    font-size: 12px!important;
    line-height: 12px!important;
    text-transform: uppercase;
    padding-bottom: 3px;
  }
  .MuiFormHelperText-root.Mui-error {
    color: #FA445C;
  }
  .MuiFormHelperText-root {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FA445C;
  }
}
