.filter-button {
  .MuiButton-containedPrimary {
    background: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: inherit;
    padding: 0;
    outline: none;

  }

  .MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
    border-color: transparent;
  }

  .MuiButton-containedPrimary:hover {
    background-color: transparent;
  }

  .MuiButtonGroup-contained {
    box-shadow: none;
    min-width: 60px;
    max-width: 140px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
  }

  .MuiButton-contained:hover {
    box-shadow: none;
  }

  &__name {
    display: flex;
    align-items: center;
    margin-right: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    margin-right: 13px;
    height: 20px;
  }

  .MuiButton-label {
    display: initial;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #6A7083;
  }
  .checked {
    margin-left: 20px;
  }
  .MuiPaper-root {
    background: #FFFFFF;
    border: 1px solid #C9CED6;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    min-width: 135px;

    li > span {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
    }

    li {
      border-bottom: 1px solid #EDEDF6;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background: transparent;
  }

  div {
    z-index: 99999;
    left: -37px;
    max-height: 200px;
    overflow-y: auto;
  }
}