.action-button {
  .icon {
    transform: rotate(90deg);
  }

  div {
    z-index: 99999;
    left: -69px !important;
  }

  .MuiList-padding {
    outline: none;
  }

  .MuiPaper-root {
    background: #FFFFFF;
    border: 1px solid #C9CED6;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 168px;
    height: 88px;

    li {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #110421;

      span:first-child {
        margin-right: 13px;
      }
    }
  }
}