body {
    margin: 0;
    font-family: 'Geometria', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1366px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 98px;
}
.field-error {
    color: #FA445C;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.notification-container {
    z-index: 999999999999999;
}