.landing-modal {
  &__paper {
    position: relative;
    width: 560px;
  }

  .close-icon {
    position: absolute;
    top: 45px;
    right: 45px;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #110421;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }

  &__form-datetime {
    margin-bottom: 30px;
    margin-top: 30px;

    p {
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #110421;
      margin: 0 0 10px;
    }
  }

  .admin-date-picker-root:after {
    top: 19px;
  }

  &__form-datetime-calendar {
    border: 1px solid #DADCE5;
    padding: 11px 16px 11px 0;
    border-radius: 6px;
    color: #A6ACBE;

    .admin-date-picker-root__date-field {
      background: transparent;
      box-shadow: none;
      color: #A6ACBE;
      padding-left: 16px;
    }

    input:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }

  @media screen and (max-width: 600px) {
    &__paper {
      width: 450px;
    }
  }
  @media screen and (max-width: 490px) {
    &__paper {
      width: 320px;
    }
    &__form-socials {
      flex-direction: column;
      align-items: flex-start;

      .input-form-select {
        width: 100%;
      }

      .input-form {
        width: 100%;
      }
    }
    .MuiButtonBase-root {
      padding: 11px 72px;
    }

  }

}

