.admin {
  &__content {
    padding-bottom: 38px;
  }

  &__header {
    display: flex;
    padding: 28px 0 28px 16px;
    align-self: center;
    width: 100%;

    &__popover {
      border-radius: 12px;
    }

    h1 {
      font-weight: bold;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: #000000;
      margin: 0;
      align-self: center;
      display: flex;
      align-items: center;

      .go-back-icon {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .setting-options {
      width: 170px;
      margin-right: 20px;
      .MuiSelect-select.MuiSelect-select {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 13px 0 13px 14px;
      }
      legend {
        padding-bottom: 0;
      }
    }
  }

  &__header-buttons-group {
    margin-left: 40px;
    display: flex;
    align-items: center;
  }

  &__header-buttons-group-create.MuiButtonBase-root {
    background: #7400FF;
    border-radius: 6px;
    padding: 6px 12px 6px 45px;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    height: 46px;

    &.--mr-20 {
      margin-right: 20px;
    }

    &:before {
      content: "+";
      position: absolute;
      left: 16px;
      top: 12px;
      font-size: 24px;
      font-weight: normal;
    }

    &:hover {
      background: rgba(116, 0, 255, 0.8);
    }

  }

  @media screen and (max-width: 1010px) {
    &__header-buttons-group-create.MuiButtonBase-root {
    .MuiButton-label {
      display: none;
    }
      min-width: 50px;
      padding: 0;
      &:before {
        top: 13px;
      }
    }
  }

  &__header-menu {
    margin-left: auto;
    display: flex;
    align-self: center;
  }

  &__header-menu-avatar.MuiAvatar-root {
    width: 50px;
    height: 50px;
  }

  &__header-names {
    margin-right: 14px;
    align-self: center;
    justify-content: center;
    text-align: center;
    padding-left: 10px;

  }

  &__header-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0;
  }

  &__header-position {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #A6ACBE;
    margin: 3px 0 0;
  }

  &__header-menu-btn {
    .MuiButton-label {
      display: block;
    }

    .MuiButton-root {
      padding: 0;
      margin-left: 15px;
      height: 100%;
      min-width: 0;

      &:hover {
        background-color: transparent;
      }
    }

    > div {
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
      top: 10px !important;
      left: -58px !important;

      .MuiPaper-root {
        height: 60px;
        width: 176px;
        border: 1px solid #DADCE5;
        padding-left: 17px;
        border-radius: 12px;
        display: flex;
        align-self: center;
        cursor: pointer;

        .power-icon {
          margin-right: 21px;
        }

        .MuiList-padding {
          padding: 0;
        }

        .MuiList-root {
          display: flex;
        }

        .MuiMenuItem-root {
          padding: 0;
        }

        .MuiListItem-button:hover {
          background: transparent;
        }
      }
    }
  }
}


